.DS_Store
.vscode/
bonus/.vscode/
mandatory/.vscode/

mandatory/build/
bonus/build/

mandatory/libs/libft/build/
mandatory/libs/libft/libft.a
bonus/libs/libft/build/
bonus/libs/libft/libft.a

mandatory/cub3D
bonus/cub3D

test/cub_multiplayer/.env
test/cub_multiplayer/__pycache__/

bonus/send_pos.txt
bonus/send_msg.txt
bonus/receive_pos.txt
bonus/receive_msg.txt
