.DS_Store
.vscode/
build/
libs/libft/build/
libs/libft/libft.a
cub3D
test/cub_multiplayer/__pycache__/
test/cub_multiplayer/enemy_pos.txt
test/cub_multiplayer/player_pos.txt
test/cub_multiplayer/enemy_state.txt
test/cub_multiplayer/player_state.txt

