.DS_Store
.vscode/
build/
libs/libft/build/
libs/libft/libft.a
cub3D
test/cub_multiplayer/__pycache__/
bonus/send_pos.txt
bonus/send_msg.txt
bonus/receive_pos.txt
bonus/receive_msg.txt

test/cub_multiplayer/.env